<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>Weather App | About</title>
</head>
<body>
    
    <div class="main-content">
    {{>header}}
    <p>
        This site was created by Shubham. It uses data from mapbox.com and weatherstack.com.
    </p>
    <img class="profile-img" src="/img/robot.png">
    </div>

    {{>footer}}
</body>
</html>